{% load staticfiles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script>
    function wrapWindowByMask() {
    //화면의 높이와 너비를 구한다.
    var maskHeight = $(document).height();
    var maskWidth = $(window).width();

    //문서영역의 크기
    console.log( "document 사이즈:"+ $(document).width() + "*" + $(document).height());
    //브라우저에서 문서가 보여지는 영역의 크기
    console.log( "window 사이즈:"+ $(window).width() + "*" + $(window).height());

    //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채운다.
    $('#mask').css({
        'width' : maskWidth,
        'height' : maskHeight
    });

    //애니메이션 효과
    //$('#mask').fadeIn(1000);
    $('#mask').fadeTo("slow", 0.5);
}

function popupOpen(name) {
    $('.layerpop').css("position", "absolute");
    //영역 가운에데 레이어를 뛰우기 위해 위치 계산
    $('.layerpop').css("top",(($(window).height() - $('.layerpop').outerHeight()) / 2) + $(window).scrollTop());
    $('.layerpop').css("left",(($(window).width() - $('.layerpop').outerWidth()) / 2) + $(window).scrollLeft());
    $('.layerpop').draggable();
    $(name).show();
}

function popupClose(name) {
    $(name).hide();
    $('#mask').hide();
}

function goDetail(name) {

    /*팝업 오픈전 별도의 작업이 있을경우 구현*/

    popupOpen(name); //레이어 팝업창 오픈
    wrapWindowByMask(); //화면 마스크 효과
}

  </script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href={%url 'home' %}>TroubleSearch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <style>
      div{
          text-align : center;
      }
      </style>  
  
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href={%url 'search' %}>자가진단</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href={%url 'skin' %}>스킨케어</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={%url 'comp' %}>성분정보</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={%url 'symp' %}>증상정보</a>
        </li>
      </ul>
    </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <ul class="list-group">
          <li class="list-group-item" style="margin-top: 20px; "><a href="#" style="color:black; text-decoration: none; " >전체</a></li>
          <li class="list-group-item" style="margin-top: 20px; "><a href="#" style="color:black; text-decoration: none; " >스킨</a></li>
          <li class="list-group-item" style="margin-top: 20px; "><a href="#" style="color:black; text-decoration: none; ">로션</a></li>
          <li class="list-group-item" style="margin-top: 20px; "><a href="#" style="color:black; text-decoration: none; ">오일</a></li>
          <li class="list-group-item" style="margin-top: 20px; "><a href="#" style="color:black; text-decoration: none; ">크림</a></li>
          <li class="list-group-item" style="margin-top: 20px; "><a href="#" style="color:black; text-decoration: none; ">미스트</a></li>
        </ul>
      </div>
    </div>
    <!--<div class = "col-md-1" style="border-left:0.5px solid gray; height:800px;">

    </div>-->

    <div class = "col-md-7">

      {%for item in item%}
  
      <div class = "row">
        
        <div class="col-md-2 border border-secondary">
          <h1>{{forloop.counter}}순위</h1>

        </div>

        <div class = "col-md-5 border border-secondary"> <!-- 이미지넣는곳-->
          <img src="/static/{{item.brand}}_{{item.name}}.png" style="place-self: center;" width = 200 height = 200 alt="제품사진">
        </div>
        <div class = "col-md-5 border border-secondary"> <!--제품 설명-->
          <h3> {{item.name}} </h3><br>
          <h3> {{item.categories}} </h3><br>
          <h3> {{item.brand}} </h3><br>
        </div>
      </div>

      

      {%endfor%}
      

    </div>
    <div class="col-md-2 border border-secondary">
      <div class="row border border-secondary" style="height:50%;" >
          {%for compo in components1%}
          <h3>{{compo.component_name}}</h3>
          <h3>{{compo.component_sim}}</h3>
          <div></div>
          {%endfor%}
      </div>
      <div class="row border border-secondary" style="height:50%;">
          {%for compo in components2%}
          <h3>{{compo.component_name}}</h3>
          <h3>{{compo.component_sim}}</h3>
          <div></div>
          {%endfor%}
      </div>
      <!--
      <div class="row border border-secondary"style="height:33.3%">
        {%for compo in components3%}
        <h3>{{compo.component_name}}</h3><br>
        <h3>{{compo.component_sim}}</h3><br>
        {%endfor%}
      </div>
      -->
    </div>
    
    
    {%for productReview in productReviews%}
      {%for productR in productReview%}
        <div class="col-md-9 border border-secondary" style="margin-left:312px">
          <h3>{{productR}}</h3>>
        </div>
      {%endfor%}
    {%endfor%}

    <div class="row">
      {%for recommendItem in recommendItems %}
      <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src= "/static/{{recommendItem.brand}}_{{recommendItem.name}}.png" style="place-self: center;" width = 200 height = 200 alt="제품사진">
            <div class="card-body">
                <a> {{recommendItem.name}} </a><br>
                <a> {{recommendItem.categories}} </a><br>
                <a> {{recommendItem.brand}} </a><br>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
      </div>
      {%endfor%}
    </div>
      
    </div>
    