<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href={%url 'home' %}>TroubleSearch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <style>
      div{
          text-align : left;
      }
      </style>  
  
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href={%url 'search' %}>자가진단</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={%url 'skin' %}>스킨케어</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={%url 'comp' %}>성분정보</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={%url 'symp' %}>증상정보</a>
        </li>
      </ul>
    </div>
  </nav>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script type="text/javascript">

  $(document).ready(function(){

    var counter = 2;

    $("#plus").click(function () {

    var newTextBoxDiv = $(document.createElement('div')).attr("class", '');

    newTextBoxDiv.after().html('<input name="product" type="text" class="form-control">');

    newTextBoxDiv.appendTo("#using");
    counter++;
      });

  });
</script>
<body>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="search" action="{% url 'information' %}" method="POST" accept-charset="utf-8">
      {% csrf_token %}
      <div class="border border-secondary">
        <h1>자가진단</h1>
      </div>
      <div class="border border-secondary">
        <h3>성별</h3>
        <label class="radio-inline">
          <input type="radio" name="gender" id="male" value="male"> 남성
        </label>
        <label class="radio-inline">
          <input type="radio" name="gender" id="female" value="female"> 여성
        </label>
      </div>
      <div class="border border-secondary">
        <h3>연령</h3>
        <label class="radio-inline">
          <input type="radio" name="age" id="10s" value="10s"> 10대
        </label>
        <label class="radio-inline">
          <input type="radio" name="age" id="20s" value="20s"> 20대
        </label>
        <label class="radio-inline">
          <input type="radio" name="age" id="30s" value="30s"> 30대
        </label>
        <label class="radio-inline">
          <input type="radio" name="age" id="40s" value="40s"> 40대
        </label>
        <label class="radio-inline">
          <input type="radio" name="age" id="50s" value="50s"> 50대
        </label>
      </div>
      <div class="border border-secondary">
        <h3>피부 타입</h3>
        <label class="radio-inline">
          <input type="radio" name="skintype" id="option1" value="option1"> 모름
        </label>
        <label class="radio-inline">
          <input type="radio" name="skintype" id="option2" value="option2"> 건성
        </label>
        <label class="radio-inline">
          <input type="radio" name="skintype" id="option3" value="option3"> 중성
        </label>
        <label class="radio-inline">
          <input type="radio" name="skintype" id="option4" value="option4"> 지성
        </label>
        <label class="radio-inline">
          <input type="radio" name="skintype" id="option5" value="option5"> 복합성
        </label>
      </div>
      <div  id="using"class="border border-secondary form-group">
        <div class="form-inline">
          <label for="exampleInputName2"><h4>사용 제품</h4></label>
          <input type="text" name="product" class="form-control" id="" placeholder="">
          <input type="button" class="btn btn-default " id="plus"value="+">
        </div>
      </div>
      <div class="border border-secondary">
        <h3>증상 타입</h3>
        <label class="radio-inline">
          <input type="radio" name="symptom" id="inlineRadio1" value="pimple"> 여드름
        </label>
        <label class="radio-inline">
          <input type="radio" name="symptom" id="inlineRadio2" value="atopy"> 아토피
        </label>
        <label class="radio-inline">
          <input type="radio" name="symptom" id="inlineRadio3" value="toxicity"> 두드러기
        </label>
        <label class="radio-inline">
          <input type="radio" name="symptom" id="inlineRadio4" value="allergy"> 알레르기
        </label>
        <label class="radio-inline">
          <input type="radio" name="symptom" id="inlineRadio5" value="toxicity"> 기타
        </label>
      </div>
      <div class="form-inline border border-secondary">
        <label for="exampleInputName2"><h4>세부 증상</h4></label>
        <input type="text" class="form-control" id="" placeholder="">
        <input type="button" class="btn btn-default" id="plus"value="+">
      </div>
      <div class="text-center"style="margin-top:100px">
        <input type="submit" class ="btn btn-primary btn-lg"value="완료">
      </div>
    </form>
  </div>
  <div class="col-md-2">

  </div>
</div>

</body>