<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="styles.css">

  <div class = "main">
    <div class="logo">
      <a href={%url 'home'%}>TroubleSearch</a>
    </div>
  <ul>
    <li><a href={%url 'search'%}>자가진단</a></li>
    <li><a href={%url 'skin'%}>제품정보</a></li>
    <li><a href={%url 'symp'%}>증상정보</a></li>
    <li><a href={%url 'comp'%}>성분정보</a></li>
  </ul>
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script type="text/javascript">
  

  $(document).ready(function(){
    var searchProduct = $('#searchProduct').clone();

    $("#plus").click(function () {

    searchProduct.appendTo("#using");
      });

      

  });
</script>
<body>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="search" action="{% url 'information' %}" method="POST" accept-charset="utf-8">
      {% csrf_token %}
      <div class="searchComponent">
        <h1>Self-diagnosis</h1>
      </div>
      <div class="searchComponent" style="font-size:17px;">
        <h3>Gender</h3>
        <div class="custom-control custom-radio custom-control-inline" >
          <input type="radio" id="gender1" name="gender"value="male"  class="custom-control-input">
          <label class="custom-control-label" for="gender1">Male</label>
        </div>
        
        <div class="custom-control custom-radio custom-control-inline" >
          <input type="radio" id="gender2" name="gender"value="female" class="custom-control-input">
          <label class="custom-control-label" for="gender2">Female</label>
        </div>
      </div>

      
      <div class="searchComponent" style="font-size:17px; ">
        <h3>피부 타입</h3>
        <div class="custom-control custom-radio custom-control-inline" >
          <input type="radio" id="option1" name="skintype"value="option1"  class="custom-control-input">
          <label class="custom-control-label" for="option1">모름</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" >
          <input type="radio" id="option2" name="skintype"value="option2"  class="custom-control-input">
          <label class="custom-control-label" for="option2">건성</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" >
          <input type="radio" id="option3" name="skintype"value="option3"  class="custom-control-input">
          <label class="custom-control-label" for="option3">중성</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" >
          <input type="radio" id="option4" name="skintype"value="option4"  class="custom-control-input">
          <label class="custom-control-label" for="option4">지성</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" >
          <input type="radio" id="option5" name="skintype"value="option5"  class="custom-control-input">
          <label class="custom-control-label" for="option5">복합성</label>
        </div>
      </div>
      
      <div  id="using"class="searchComponent">
        
        <div class="form-inline" id="searchProduct">
          <!--
          <label for="exampleInputName2"><h4>사용 제품</h4></label>
          <div class="dropdown">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              로션
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-default  btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              이니스프리
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-default  btn-lg  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              제품명
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">19' 한란로션 160ml</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ac 클린업 젤로션</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">로즈 앱솔루트 바이탈 플루이드</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">마이에센셜바디그린바디로션</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">모이스트젠 에멀젼</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">서플프레퍼레이션 올오버 로션</a></li>
            </ul>
          </div>
          <input type="button" class="btn btn-default" id="plus"value="+">
          -->

          <input type="text" name="product" class="form-control" id="" placeholder="">
          <input type="button" class="btn btn-default " id="plus"value="+">
        </div>
      </div>
      <div class="searchComponent" style="font-size:17px;">
        <h3>증상 타입</h3>
        <div class="custom-control custom-radio custom-control-inline" >
          <input type="radio" id="pimple" name="symptom"value="pimple"  class="custom-control-input">
          <label class="custom-control-label" for="pimple">여드름</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" >
          <input type="radio" id="atopy" name="symptom"value="atopy"  class="custom-control-input">
          <label class="custom-control-label" for="atopy">아토피</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" >
          <input type="radio" id="toxicity" name="symptom"value="toxicity"  class="custom-control-input">
          <label class="custom-control-label" for="toxicity">두드러기</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" >
          <input type="radio" id="allergy" name="symptom"value="allergy"  class="custom-control-input">
          <label class="custom-control-label" for="allergy">알레르기</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" >
          <input type="radio" id="other" name="symptom" value="toxicity"  class="custom-control-input">
          <label class="custom-control-label" for="other">기타</label>
        </div> 
      </div>
      <div class="form-inline  ">
        <label for="exampleInputName2"><h4>세부 증상</h4></label>
        <input type="text" class="form-control" id="" placeholder="">
        <input type="button" class="btn btn-default" id="plus"value="+">
      </div>
      <div class="text-center"style="margin-top:100px">
        <input type="submit" class ="btn btn-primary btn-lg"value="완료">
      </div>
    </form>
  </div>
  <div class="col-md-2">

  </div>
</div>

</body>