body{
	font-family: Noto Sans KR;
	background-color:white;
}
.searchComponent{
	margin-top:20px;
}
.wrapper{
	display: grid;
	padding-top: 30px;
	width : 90%;
	float: right;
	padding : 20px;
	margin-top : 20px;
	margin-bottom: 50px;
	border-left : 1px solid darkgreen;
  }
  .categories{
	display: grid;
	width: 8%;
	float : left;
	padding-top: 100px;
	padding-left: 10px;
	margin : auto;
  }
  div{
	text-align : center;
	float: center;
  }
  .page{
	place-self: center;
  }
  ul{
	float:right;
	list-style-type: none;
	margin-top: 30px;
  }
  ul li{
	display : inline-block;
  }
  ul li a{
	text-decoration: none;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
	font-weight: bold;
	color:black;
	padding : 5px 20px;
	border : 1px solid transparent;
	transition: 0.6s ease;
  }
  ul li a:hover{
	background-color: black;
	color : white;
	text-decoration: none;
  }
  .logo img{
	position: absolute;
	margin-top: 30px;
	margin-left: 25px;
	float:left;
	width:25px;
	height: auto;
	left:30px;
  }
  .logo a{
	position: absolute;
	margin-top: 28px;
	margin-left: 60px;
	left:30px;
	text-decoration: none;
	font-family: Roboto;
	font-size: 20px;
	font-weight: bold;
	color:black;
  }
  .main{
	max-width: 1200px;
	margin: auto;
  }