<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href={%url 'home' %}>TroubleSearch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <style>
      .wrapper{
        display: grid;
        padding-top: 30px;
        width : 90%;
        float: right;
        padding : 20px;
        margin-top : 20px;
        margin-bottom: 50px;
        border-left : 1px solid darkgreen;
      }
      .categories{
        display: grid;
        width: 8%;
        float : left;
        padding-top: 100px;
        padding-left: 10px;
        margin : auto;
      }
      div{
          text-align : center;
          float: center;
      }
      .page{
        place-self: center;
      }
      
      </style>  
  
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href={%url 'search' %}>자가진단</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href={%url 'skin' %}>스킨케어</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={%url 'comp' %}>성분정보</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={%url 'symp' %}>증상정보</a>
        </li>
      </ul>
    </div>
  </nav>
{%load staticfiles%}
<div class = "categories">
  <p>스킨</p>
  <p>로션</p>
  <p>에센스</p>
  <p>크림</p>
  <p>미스트</p>
</div>



<div class = "wrapper">
    <div class="row">
    {%for item in posts %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src= "/static/{{item.brand}}_{{item.name}}.png" style="place-self: center;" width = 200 height = 200 alt="제품사진">
          <div class="card-body">
              <a> {{item.name}} </a><br>
              <a> {{item.categories}} </a><br>
              <a> {{item.brand}} </a><br>
              <div class="d-flex justify-content-between align-items-center"></div>
          </div>
        </div>
      </div>
    {%endfor%}
    </div>

    <div class = "page">
        <ul class="pagination">
          {%if posts.has_previous%}
          <li class="page-item"><a class="page-link" href = "?page=1">First</a></li>
          <li class="page-item"><a class="page-link" href = "?page={{posts.previous_page_number}}">Previous</a></li>
          <li class="page-item"><a class="page-link" href= "?page={{previous_page_number}}">{{posts.previous_page_number}}</a></li>
          {%endif%}
          <li class="page-item"><a class="page-link" href= "?page={{posts.number}}">{{posts.number}}</a></li>
          {%if posts.has_next%}
          <li class="page-item"><a class="page-link" href= "?page={{posts.next_page_number}}">{{posts.next_page_number}}</a></li>
          <li class="page-item"><a class="page-link"  href="?page={{posts.next_page_number}}">Next</a></li>
          <li class="page-item"><a class="page-link"  href = "?page={{posts.paginator.num_pages}}">Last</a></li>
          {%endif%}
        </ul>
      </div>
</div>